<div class="container mt-3">
    <div class="row row-eq-height">
        <div class="col-sm px-2 pb-2">
            <app-welcome-card></app-welcome-card>
            <app-last-month-card></app-last-month-card>
        </div>
        <div class="col-sm p-2">
            <app-last-months-card></app-last-months-card>
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-sm p-2">
            <app-last-inventories-card></app-last-inventories-card>
        </div>

        <div class="col-sm p-2">

        </div>
    </div>
</div>