<ngb-accordion [closeOthers]="true">
  <ngb-panel *ngFor="let work of works; index as i">
      <ng-template ngbPanelTitle>
          <span class="text-dark" style="text-decoration: none;">{{ work.customer }}</span>
      </ng-template>
      <ng-template ngbPanelContent>
          <div class="row">
              <div class="col-auto">
                  <p>Entrada:</p> 
                  <p>Salida:</p>
                  <p>Horas:</p>
                  <p>Ingreso:</p>
              </div>
              <div class="col">
                  <p class="text-nowrap">{{ getShortDate(work.dateIn) }}</p>
                  <p class="text-nowrap">{{ getShortDate(work.dateOut)}}</p>
                  <p>{{ work.hours}}</p>
                  <p>${{ prettyPrice(work.hours*work.wageRate) }}</p>
              </div>
          </div>
      </ng-template>
  </ngb-panel>
</ngb-accordion>