<app-navbar></app-navbar>
<div class="container mt-3">
    <h1 class="display-3" style="font-size: 4rem;"> {{ dateMonth }} </h1>
    <h1 class="display-3" style="font-size: 4rem;"> {{ dateYear }} </h1>

    <div class="row">
        <div class="col-sm p-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Mes</h5>
                    <div class="container-fluid text-center">
                        <h1><i class="fa-regular fa-money-bill-1 me-2"></i> ${{ formatMoney(monthData.total, true) }} <small class="text-muted">Pesos</small></h1>
                        <h1><i class="fa-regular fa-clock me-2"></i> {{ monthData.hours.toString().replace('.', ',') }} <small class="text-muted">Horas</small></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm p-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inventarios</h5>
                    <app-works-list [works]="monthData.works"></app-works-list>
                </div>
            </div>
        </div>
    </div>


</div>