<app-navbar></app-navbar>
<div class="container mt-3">
    <h1 class="display-3" style="font-size: 4rem;"> {{ dateMonth }} </h1>
    <h1 class="display-3" style="font-size: 4rem;"> {{ dateYear }} </h1>

    <div class="row">
        <div class="col-sm p-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Mes</h5>
                    <div class="row">
                        <div class="col col-auto pt-1">
                            <h2 style="font-size: 2rem;"><i class="fa-regular fa-money-bill-1"></i></h2>
                            <h2 style="font-size: 2rem;"><i class="fa-regular fa-clock"></i></h2>
                        </div>
                        <div class="col p-0">
                            <h2 style="font-size: 2rem;" *ngIf="monthData">{{ formatMoney(monthData.total, true) }} <small class="text-muted">Pesos</small></h2>
                            <h2 style="font-size: 2rem;" *ngIf="monthData">{{ monthData.hours.toString().replace('.', ',') }} <small class="text-muted">Horas</small></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm p-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inventarios</h5>
                    <app-works-list [works]="monthData.works"></app-works-list>
                </div>
            </div>
        </div>
    </div>


</div>